*{
   box-sizing: border-box;
}
*,
*::after,
*::before{
   box-sizing: inherit;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url('GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('GothamPro-Bold.woff') format('woff'),
		url('GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('GothamPro-Black.eot');
	src: local('Gotham Pro Black'), local('GothamPro-Black'),
		url('GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('GothamPro-Black.woff') format('woff'),
		url('GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('GothamPro-Medium.eot');
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
		url('GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('GothamPro-Medium.woff') format('woff'),
		url('GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url('GothamPro.eot?#iefix') format('embedded-opentype'),
		url('GothamPro.woff') format('woff'),
		url('GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
   font-family: Gotham Pro, sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 18px;
   color: #000000;
}
/* #wrap {
   width: 100%;
   margin: 5% auto;
} */
a{
   text-decoration: none;
   color: inherit;
   display: inline-block;
}
li{
   list-style: none;
}
.section-title__head{
   display: flex;
   align-items: center;
}
#parallelogram{
   width: 8px;
   height: 80px;
   transform: skewY(-45deg);
   background-color: #1FA2FF;
   margin-right: 30px;
}
.section-title {
   font-weight: bold;
   font-size: 36px;
}
.section-paragraph{
   font-size: 14px;
   line-height: 19px;
   color: #646464;
   text-align: right;
}
.hero{
   width: 100%;
}
.container {
   width: 100%;
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 15px;
}
.hero-header {
   min-height: 84px;
   background-color: #fff;
   display: flex;
   justify-content:space-between;
   align-items:center;
   flex-wrap: wrap;
   
}
.hero-logo{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.hero-logo a{
   font-weight: bold;
   font-size: 20px;
   line-height: 19px;
   text-transform: uppercase;
   color: #1FA2FF;
   margin-right: 43px;
   padding: 5px 0;
}
.hero-line{
   width: 2px;
   height: 50px;
   border: none;
   background-color: rgba(133, 133, 133, 0.3);
}
.hero-logo-subtitle {
   width:130px;
   font-weight: normal;
   font-size: 14px;
   line-height: 15px;
   color: #858585;
   position: relative;
}
.hero-logo-subtitle::before{
   content: "";
   position: absolute;
   left: -22px;
   background-image: url(../images/hero-line.jpg);
   width: 2px;
   height: 50px;
   top: -7px;
}
.hero-menu__list {
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   font-weight: normal;
   font-size: 14px;
   line-height: 13px;
   margin: 0;
   padding:12.5px 0;   
}
.hero-menu-list:first-child{
   padding-left: 38px;
}
.hero-menu-list:last-child{
   padding-right: 112px;
}
.hero-menu-item{
   padding:12.5px 46px;
}
.active{
   color: #fff;
   background-image: url(../images/hero-list-bg.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
}
.hero-menu__list a:hover{
   color: #fff;
   background-image: url(../images/hero-list-bg.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
}
.hero-contact__phone{
   display: block;  
}
.hero-contact__item{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 8px;
}
.hero-contact__img{
   margin-right: 9px;
}
.hero-contact__ph {   
   font-weight: 500;
   font-size: 20px;
   line-height: 19px;
   letter-spacing: 0.1em;   
}
.hero-phone__subtitle {
   right: 0;
   font-weight: normal;
   font-size: 14px;
   line-height: 13px;
   text-decoration-line: underline;
   color: #1FA2FF;
   margin-left: 68px;
}
.hero-content {
   min-height: 540px;
   background-image: url(../images/header-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
}
.hero-content >.container{
   background-image: url(../images/hero-map.png);
   background-position:  96% 84%; 
   background-repeat: no-repeat;
}
.hero-text{
   margin-bottom: 108px;  
}
.hero-title {
   font-weight: 900;
   font-size: 40px;
   line-height: 42px;
   color: #FFFFFF;
   max-width: 578px;
   padding-top: 112px;
   margin-bottom: 34px;
}
.hero-list {
   display: flex;
   flex-wrap: wrap;  
}
.hero-list__item { 
   max-width: 194px;
   font-weight: normal;
   font-size: 14px;
   color: #FFFFFF;
   margin-bottom: 38px;
   margin-right: 51px;
}
.last__item{
   max-width: 213px;
   margin-right: 0;
}
.hero-list__icon {
   margin-bottom: 16px;
}

.button {
   width: 290px;
   border: 2px solid #FFFFFF;
   box-sizing: border-box;
   border-radius: 4px;
   padding: 18px 78px 18px 12px;
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;
   color: #FFFFFF;
   background-color: transparent;
   align-items: center;
   outline: none;
   cursor: pointer;
   background:url(../images/hero-btn-icon.png) no-repeat 91% 50%;
   transition: all .3s ease;
   -webkit-transition: all .3s ease;
   -moz-transition: all .3s ease;
   -ms-transition: all .3s ease;
   -o-transition: all .3s ease;
}
/* .hero-button {
   display: flex;
   position: relative;  
} */
/* .hero-button__img {
   margin-left: 21px; 
   position: absolute; 
} */

.button:hover, .button:active{
   background:url(../images/hero-btn-icon2.png) no-repeat 91% 50%;
   background-color: #fff;
   color: #1E9CF5;
}
/* .hero-button__img.hover:hover{
   visibility: visible;
   
} */
/* .button:hover{
   cursor: pointer;
   box-shadow: -1px 1px 4px 1px #ccd0db;
    animation-duration: 3s;
   animation-delay: 1s;
   animation-iteration-count: infinite;
 }   */
   /* animation: pulse 1s linear infinite;
    transition: all 03.s ease-in;
    -webkit-transition: all 03.s ease-in;
    -moz-transition: all 03.s ease-in;
    -ms-transition: all 03.s ease-in;
    -o-transition: all 03.s ease-in; */    

 /* @-webkit-keyframes pulse {
   0% {
     -webkit-transform: scale(1);
   }
   60% {
     -webkit-transform: scale(1.05);
   }
   100% {
     -webkit-transform: scale(1);
   }
 }  */


/* start autopark */

.auto {
   margin-bottom: 21px;
}
.auto-head{
   display: flex;
   margin-top: 53px;
   margin-bottom: 53px;
   justify-content: space-between;
   align-items:center;
}

.auto-block {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.auto-item {
   display: flex;
   margin-bottom: 60px;
}

.auto-item__text {
   display: block;
   width: 296px;
   margin-left: 25px;
}
.auto-item__title { 
   font-weight: 500; 
   height: 32px;
   background-color: #1FA2FF;
   color: #fff;
   padding-left: 11px;
   margin-bottom: 12px;
   
}
.auto-item__title p{
   padding-top: 7px;
}
.auto-item__description {
   color: #494949;
   margin-bottom: 4px;
}
.first{
   margin-bottom: 9px;
}

/* services start */
#services{
   background-color: #F8F8F8;
   padding-top: 53px;
   padding-bottom: 25px;
}
.service-head{
   display: flex;
   justify-content: space-between;
   /* padding-top: 53px; */
   margin-bottom: 53px;
   align-items:center;

}

.service-items {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   flex-basis: 50%;  
}
.service-item {
   width: 555px;  
   margin-bottom: 56px; 
}
.service-item__images {
   max-width: 555px;
   min-height: 280px;
   border-radius: 8px;
   background: linear-gradient(0deg, rgba(101, 101, 101, 0.3), rgba(101, 101, 101, 0.3)), url(../images/service-img1.jpg);
   box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
   background-repeat: no-repeat; 
   background-size: cover;
   margin-bottom: 37px;
   position: relative;
}
.img__two{
   background: linear-gradient(0deg, rgba(101, 101, 101, 0.3), rgba(101, 101, 101, 0.3)), url(../images/service-img2.jpg);
}

.img__three{
   background: linear-gradient(0deg, rgba(101, 101, 101, 0.3), rgba(101, 101, 101, 0.3)), url(../images/service-img3.jpg);
}
.img__four{
   background: linear-gradient(0deg, rgba(101, 101, 101, 0.3), rgba(101, 101, 101, 0.3)), url(../images/service-img4.jpg);
}

.service-img__description {
   width: 226px;
   display: block;
   text-transform: uppercase;
}
.service-img__content{
   height: 44px;
   padding-left: 16px;
   padding-top: 12px;
   padding-bottom: 12px;  
   background-color: #1FA2FF;
   color: #fff;
   border-radius: 8px 0px 0px 0px;
}
.service-img__title {
   font-size: 14px;
   font-weight: 500;
   margin-bottom: 8px;
}
.service-img__price {
   font-weight: bold;
   font-size: 24px;
}
.service-img__price span{
   font-size: 14px;
   font-weight: 500;
}
.service-img__include {
   height: 40px;
   font-size: 14px;  
   font-weight: 500; 
   line-height: 40px;
   text-align: center;
   background-color: #fff;
   color: #1FA2FF;
}

#services .hero-contact__item {
   position: absolute;
   width: 264px;
   height: 48px;
   display: flex;
   justify-content: center;
   background-color: #fff;
   border-radius: 0px 0px 8px 0px;
   right: 0;
   bottom: 0;
   margin:0 ;
}
.service-item__list {
   display: block; 
}
.service-list__title {
   font-weight: 500;
   font-size: 24px;
   margin-bottom: 8px;
}
.service-rectangle{
   width: 40px;
   height: 3px;
   background-color: #1FA2FF;
   margin-bottom: 15px;
}
.service-list__description {
   font-size: 18px;
   margin-bottom: 15px;
   text-transform:uppercase;
}
.service-list__description span{
   color: #1FA2FF;
   font-weight: 500;

}

/* scheme start */

.shema-head {
   display: flex;
   margin-top: 53px;
   margin-bottom: 53px;
   align-items:center;
   justify-content: space-between;
}
.scheme__items-top{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 56px;
}
.scheme__items-bottom{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-left: 214px;
   margin-bottom: 81px;
   margin-right: 282px;
}
.scheme__item {
   display: block;
   min-width: 133px;
   max-width: 259px;
   height: 180px;
   text-align: center;
}
.scheme__item-title.line__1{
   position: relative;
}
.scheme__item-title.line__1::before{
    content: "";
    position: absolute;
    left: -112px;
    top: 50%;
    transform: translateY(-100%);
    background-image: url(../images/line-1.png);
    width: 154px;
    height: 156px;
}
.scheme__item-title.line__1::after{
    content: "";
    position: absolute;
    left: 220px;
    top: 50%;
    transform: translateY(-100%);
    background-image: url(../images/line-2.png);
    width: 130px;
    height: 156px;
}
.scheme__item-title.line__2{
   position: relative;
}
.scheme__item-title.line__2::after{
   content: "";
   position: absolute;
   left: 188px;
   top: 50%;
   background-image: url(../images/line-3.png);
   width: 131px;
   height: 104px;
}
.scheme__item-title.line__3{
   position: relative;
}
.scheme__item-title.line__3::after{
   content: "";
   position: absolute;
   left: 130px;
   top: 50%;
   transform: translateY(-155px);
   background-image: url(../images/line-4.png);
   width: 205px;
   height: 157px;
}
.scheme__item-img {
   margin-bottom: 22px;
}
.scheme__item-title {
   font-size: 18px;
   font-weight: 500;
   text-transform: uppercase;
   margin-bottom: 11px;
}
.scheme__item-subtitle {
   margin-bottom: 0;
}

/* advantages start */

.advantages{
   background-color: #F8F8F8;
   padding-top: 53px;
   padding-bottom: 46px;  
}
.advantage-head {
   display: flex;
   justify-content: space-between;
   margin-bottom: 53px;
   align-items:center;
}
.advantage__items{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.advantage-item{
   width: 330px;
   height: 60px;     
   margin-bottom: 34px;
   transform: skewX(-30deg);
   background: #F0F0F0;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   -webkit-transform: skewX(-30deg);
   -moz-transform: skewX(-30deg);
   -ms-transform: skewX(-30deg);
   -o-transform: skewX(-30deg);
   position: relative;
}
.advantage-item__bg{
   width: 39px;
   height: 29px;
   transform: skewX(30deg);
   position: absolute;
   top: 0;
   right: -7px;
}
.advantage-item__content{
   display: flex;
   align-items: center;
   padding-top: 12px;
}
.advantage-item__img{
   margin-left: 26px;
   margin-right: 13px;
   transform: skewX(30deg);
   -webkit-transform: skewX(30deg);
   -moz-transform: skewX(30deg);
   -ms-transform: skewX(30deg);
   -o-transform: skewX(30deg);
}
.advantage-item__text{
   transform: skewX(30deg);
   -webkit-transform: skewX(30deg);
   -moz-transform: skewX(30deg);
   -ms-transform: skewX(30deg);
   -o-transform: skewX(30deg);
}
.advantage-item__text span{
   font-weight: 500;
}





/* organisation start */
.organisation{
 padding-top: 50px;
}
.organisation-head{
   margin-bottom: 56px;
}
.organisation__content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 81px;

}
.organisation .section-title{
   width: 521px;
   font-size: 30px;
   line-height: 40px; 
}
.organisation__video{
   width: 640px;
   height: 360px;
   background-color: #1F1F1F;
}
.organisation__video h4{
   font-size: 18px;
   font-weight: normal;
   line-height: 360px;
   text-align: center;
   color: #fff;
}

.organisation__list li{
   font-weight: 500;
   padding-left: 36px;
   margin-bottom: 24px;
   position: relative;
}
.organisation__list li::before{
   content: "";
   position: absolute;
   left: 0;
   top: 26%;
   transform: translateY(-50%);
   background-image: url(../images/choice.png);
   width: 24px;
   height: 24px;
}



/* connection start */
#connection{
   background: linear-gradient(180deg, rgba(43, 43, 43, 0) 0%, rgba(43, 43, 43, 0) 0.02%, #1FA2FF 165.12%), linear-gradient(0deg, rgba(30, 30, 30, 0.94), rgba(30, 30, 30, 0.94)), url(../images/connection-bg.jpg);
   box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.4);
   display: block;
   text-align: center;
   padding-top: 84px;
   padding-bottom: 81px;
}
.connection__title{
   max-width: 659px;  
   font-weight: bold;
   font-size: 30px;
   line-height: 48px;
   text-transform: uppercase;
   color: #fff;
   margin: 0 auto;
   /* padding-top: 84px; */
   margin-bottom: 47px;

}
#connection .hero-contact__item{
   width: 293px;
   margin: 0 auto;
   margin-bottom: 18px;
}
#connection .hero-contact__ph{
   font-size: 28px;
   font-weight: 500;
   line-height: 27px;
   letter-spacing: 0.1em;
   color: #fff;
}
#connection .hero-contact__ph a:first-child{
   margin-bottom: 14px;
}

/* footer start */
.footer{
   min-height: 318px;
   background-color: #1FA2FF;
}
.footer__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding-top: 80px;
   padding-bottom: 77px;  
}
.footer-menu__title{
   font-weight: bold;
   font-size: 20px;
   line-height: 19px;
   text-transform: uppercase;
   color: #fff; 
   padding: 5px 0;
   margin-bottom: 18px;
}
.footer-menu__list li{
   font-size: 18px;
   color: #fff;
   margin-bottom: 17px;
   list-style: square;
   color: #fff;
}
.footer-menu__list.contact li{
   list-style: none;
}
.footer .button {
   width: 253px;
   padding: 20px 76px 19px 12px;
   background:url(../images/footer_norm.png) no-repeat 91% 50%; 
}
.footer .button:hover, .footer .button:active{
   background:url(../images/footer_act.png) no-repeat 91% 50%;
   background-color: #fff;
}